input{
    max-width: 100px;
    margin-right: 10px;
} 
.input-question {
    text-align: left;
    width: 50%;
}
.input-question-form {
    display: inline-block;
}
.is-success {
    background-color: #08CA7C;
}
.is-danger {
    background-color: #FF0020;
}
.true-false-inputs{
    max-width: 700px;
    background-color: deepskyblue;
    padding: 10px;
}