.container {
    margin-top: 10px;
}
.score{
    display: inline-flex;
}
button {
    margin: 0px 5px;
}
 .display-score {
    margin: 0px 5px;
     padding-top: 5px;
}
.question-type{
    display: flex;
    background-color: #F1FAF4;
    padding: 5px;
}
.question-body {
    text-align: left;
    width: 50%;
}
.remove-question {
    text-align: right;
    width: 50%;
}
.edit-container {
    min-width: 700px;
    position: absolute;
    top: 235px;
    left: 50px;
    background-color: deepskyblue;
    padding: 10px;
}